::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #333366;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #88ffff;
  border-radius: 10px;
  margin-block: 0.5rem;
}

body {
  width: 100vw;
  overflow-x: hidden
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Lora;
    src: url(components/layout/fonts/Lora-Regular.ttf);
  }

  @font-face {
    font-family: Akaya;
    src: url(components/layout/fonts/AkayaTelivigala-Regular.ttf);
  }

  body {
    @apply font-mainFont;
  }

  li {
    @apply sm:px-2 py-2 sm:py-1 sm:text-base sm:hover:scale-110 duration-200 italic;
  }

  a {
    @apply px-2 py-1 sm:rounded w-full justify-center flex;
  }
}

@layer components {
  .filter_section {
    @apply rounded px-2 pt-2 pb-1 mb-4;
  }

  .slideShow_button {
    @apply carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center sm:hover:bg-sliderBackground;
  }

  .navigatorSteps {
    @apply w-8 h-8 md:w-10 md:h-10 rounded-3xl relative flex justify-center items-center text-sm md:text-xl bg-yellowColor z-10;
  }

  .buttonsCart {
    @apply flex items-center text-xl px-6 py-1 outline-none rounded-md text-white;
  }

  .homeHeaders {
    @apply md:mr-10 w-max text-4xl md:text-6xl xl:text-8xl my-6 rotate-12;
  }
}
